<%- include("./partials/header")%>

<h2 class="title text-center">Find Meals by Search</h2>
<!-- search area -->
<div class="inspireMeSearch">
  <form action="/inspireMe/search" method="POST">
    <div class="row">
      <div class="col">
        <input
          type="text"
          name="recipeName"
          class="form-control"
          placeholder="Enter Recipe Name"
          aria-label="First name"
        />
      </div>
      <div class="col">
        <button type="submit" id="btn" class="btn btn-outline-dark">
          Search
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container d-flex justify-content-center my-5">
  <!-- display area -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% if (recipes && recipes.length > 0) { %> <% recipes.forEach(recipe => { %>
    <div class="card inspiredMeCard" style="width: 18rem">
      <img src="<%=recipe.strMealThumb%>" class="card-img-top" alt="foodImg" />
      <div class="card-body">
        <h5 class="card-title text-center"><%= recipe.strMeal %></h5>

        <a href="#" class="btn btn-dark btn-sm">Details</a>
      </div>
    </div>
    <% }); %> <% } else { %>
    <p>No recipes found.</p>
    <% } %>
  </div>
</div>

<%- include("./partials/footer")%>
