<%- include("../partials/header") %>
<h1><%= shoppinglist.title %> Shoppinglist</h1>

<% shoppinglist.content.forEach((ingredient) => { %>

<ul class="list-group">
  <li class="list-group-item">
    <input
      class="form-check-input me-1"
      type="checkbox"
      value="ingredient"
      aria-label="..."
    />
    <%= ingredient %>
  </li>
</ul>
<% }); %> <%- include("../partials/footer") %>
