a {
  color: #00b7ff;
}

:root {
  --bs-font-sans-serif: "Rubik", sans-erif;
}

.container-xxl {
  max-width: 1530px;
}

body {
  background-image: url("../images/background.svg");
  background-color: rgb();
}

a {
  color: var(--bs-dark);
}

.homepageRecipe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  border-radius: 8px;
}

.homepageRecipe img {
  width: 100%;
  object-fit: cover;
}

@media (min-width: 992px) {
  .homepageGreeting {
    flex-direction: row-reverse;
  }
}

.recipeShowTop {
  margin-bottom: 10%;
}

.recipeShowReview {
  margin-top: 10%;
}

.saveBtn {
  margin-top: 5%;
  text-align: right;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 30px;
}
