a {
  color: #00b7ff;
}

:root {
  --bs-font-sans-serif: "Rubik", sans-erif;
}

.container-xxl {
  max-width: 1530px;
}

body {
  background-image: url("../images/background.svg");
  background-color: rgb();
}

a {
  color: var(--bs-dark);
}
